@charset "utf-8";
/* CSS Document */

.header {
  background-color: #161616;
  text-align: center;
  padding: 10px;
	display: flex;
  align-items:center;
}


body {
	background-color: #222222;
	animation: fadeIn 2s;
}


 @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         } 


h1 {
	color: #D2BAA0;
	font-size: 70px;
	font-family: Bord;
	text-shadow: 4px 2px gray;
}

.headtitle {
	color: #9F9F9F; 
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 30px;
}

.logo {
	width: 5%;
}

p {
	color: #CDCDCD;
	font-family: Genome;
}

h2 {
	color: #9F9F9F; 
	font-family: 'Montserrat', sans-serif;
	
	
}

.heading2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-shadow: 0px 0px gray;
	padding-top: 100px; 
}

																/*Fonts download start */

@font-face {
	font-family: Genome;
	src: url("Genome/Genome-Thin.otf");
}

@font-face {
	font-family: Bord;
	src: url("Bord/Bord.otf");
}

																	/* Fonts download end*/


														/*navigator bar code start */

a {
	font-family: 'Montserrat', sans-serif;
}

.navigatorbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C5A785;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav {
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #111;
}

.active {
  background-color: #D2BAA0;
}

														/*navigator bar code end */



footer {
  background-color: rgb(197,167,133, 0.4);
  padding: 15px;
	text-align: center;
	
}

																		/*Social media buttons code start */
.fa {
  padding: 20px;
  font-size: 50px;
  text-decoration: none;
  border-radius: 50%;
text-align: left;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
															/* Social media button code end */



																	/*Contact US text tyle code start */

.titlehead {
	font-size: 45px;
	color: #C5A785;
	font-family: 'Montserrat', sans-serif;
}

.subhead {
	font-size: 22px;
	color: #84898F;
	font-family: 'Montserrat', sans-serif;
}
.listinfo, .list {
	font-size: 18px;
	color: rgba(197,197,197,1.00);
	font-family: Genome;
	  text-indent: 10px;
	
}

.box1 {
	width: 40%;
	padding-right: 0px;
	padding-bottom: 200px;
	padding-left: 50px;
	padding-top: 100px;
	background-color: rgba(5,5,5,0.5);
	margin-right: 900px;
	margin-left: 500px;
	
}
																	/*Contact US text tyle code start */
																	



																					/* subscription form code start*/


.newsletterheader {
	font-family: 'Montserrat', sans-serif;
	color: #C5A785;
}

.newsletterinfo {
	font-family: Genome;
	color: rgba(132,132,132,1.00);
}

form {
  border: 3px solid #292929;
	width: 100%;
	text-align: center;
	opacity: 0.5px;
	
}

.container {
  padding: 20px;
  background-color: #292929;
}

input[type=text], input[type=submit] {
  width: 50%;
  padding: 12px; 
  margin: 0px 0px 0px;
	color: #E3E3E3;
  display: inline-block;
  border: 1px solid #292929;
  box-sizing: border-box;
	background-color: #525151;
	
	
}

input[type=checkbox] {
  margin-top: 16px;
	color: #292929;
}

input[type=submit] {
  background-color: #525151;
  color: rgba(255,255,255,0.7);
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}



																					/* subscription form code end*/
